@charset "utf-8";
/* ----- 상단영역------   */
div{
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}
div#header{

}

div#header h1{
  float: left;
  background-image: url(../img/logo.png);
  width: 94px;
  height: 48px;
  text-indent: -9999px;
  margin-top: 25px;
  margin-left: 3px;
}

div#header span{
  float: right;
  margin-top: 25px;
  width: 510px;
}
div#header span button{

}
div#header span button::active{
 color: #009999;
}
div#header span input{
    vertical-align:middle;
    border: none;
    background-color: #f3f3f3;
    height: 30px;
    width: 190px;
}
div#header span button:nth-of-type(1){

  background-image: url(../img/search.png);
  text-indent: -9999px;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  margin-right: 14px;
}
div#header span button:not(button:nth-of-type(1)){
  padding: 8px 17px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}


div#header ul{
  clear: both;
  overflow: hidden;
  text-align: left;
}
div#header>ul>li{
  /*! float: left; */
  width: 13%;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  margin-top: 15px;
  height: 40px;
}

div#header ul li a{
  line-height: 3;
  display: block;
  text-align: left;
}
div#header ul:nth-of-type(2){

  display: none;
}
div#header ul:nth-of-type(2) h2{

}
div#header ul:nth-of-type(2) li{

}
div#header ul:nth-of-type(2) a{

}
/*            --- 타이틀영역 ----               */
div#title{

  height: 500px;
  background-image: url(../img/title1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  margin: 0 auto;
}
div#title ul{

  margin: 0 auto;
  width: 1200px;
  height: 100%;
}
div#title ul li{

  /*! padding: 50px 0 0 40px; */
}
div#title ul li h2{

  font-size: 40px;
  margin: 30px 95px;
  color: #ffff;
  font-weight: bold;
  text-shadow: 5px 0px 4px #000;
  line-height: 2;
  text-align: left;
}
div#title ul li p{

  color: #ffff;
  line-height: 1.5;
  text-align: left;
  margin: 0 95px;
}
/*            컨텐츠영역           */
div#contents{

}


/* Gs 뉴스 */
div#contents .news,div#contents .recruit{
  margin-bottom: 20px;
  margin-top: 10px;
  }
div#contents .news{
  float: left;
  width: 48%;
  margin-right: 2%;
  background-image: url(https://images.unsplash.com/photo-1583146153103-abf58fc14bc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-size: 32%;
  background-repeat: no-repeat;
  background-position: 0px 66px;
  box-sizing: border-box;
  background-origin: content-box;
  height: 190px;
}
.h2{
  line-height: 3;
  border-bottom: 2px solid #333;
}
div#contents .news h2{

}
div#contents .news h3,div#contents .recruit h3{
 line-height: 3;
 width: 50%;
 margin-left: 50%;
}
div#contents .news h3{

}
div#contents .news p, div#contents .recruit p{
  line-height: 1.5;
  width: 50%;
  margin-left: 50%;
}

div#contents .news p{

}
/*             인재채용       */
div#contents .recruit{
  float: left;
  width: 48%;

  background-image: url(https://images.unsplash.com/photo-1520694478166-daaaaec95b69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-size: 32%;
  background-repeat: no-repeat;
  background-position: 0px 66px;
  height: 190px;
  box-sizing: border-box;
  background-origin: content-box;
  margin-left: 2%;
}
div#contents .recruit h2{

}
div#contents .recruit h3{

}
div#contents .recruit p{

}
/*       경영노트         */
div#contents .note{
  clear: both;
  float: left;
  width: 48%;
  margin-right: 2%;
  /*! outline: 1px solid #ccc; */

  height: 320px;
  background-color: #ececec;
  margin-top: 17px;
}
div#contents .note h2{

  background-image: url(../img/img_ceo1.png);
  /*! width: 490px; */
  height: 218px;
  text-indent: -9999px;
  background-size: cover;
}
div#contents .note h2 span{

}
div#contents .note h3{
  line-height: 1.5;
  padding: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div#contents .note p{

  font-size: 13px;
  padding-left: 15px;
  line-height: 1.5;
}
/*       환경이야기         */
div#contents .story{
  float: left;
  width: 22%;
  /*! outline: 1px solid #ccc; */

  margin-right: 2%;
  height: 320px;
  background-color: #ececec;
  margin-top: 17px;
  margin-left: 2%;
}
div#contents .story img{
   width: 100%;
   height: 218px;
}
div#contents .story h2{
  padding: 13px;
}
div#contents .story p{
  padding-left: 13px;
  font-size: 13px;
  line-height: 1.8;
}
/* 사회공헌 */
div#contents .soc{
  float: left;
  margin-left: 2%;
  /*! outline: 1px solid #ccc; */

  width: 22%;
  height: 320px;
  background-color: #ececec;
  margin-bottom: 24px;
  margin-top: 17px;
}
div#contents .soc img{
  width: 100%;
  height: 218px;
}
div#contents .soc h2{


  padding: 13px;

}
div#contents .soc p{

  padding: 0 13px;
  font-size: 13px;
  line-height: 1.8;
}


/*    계열사소식    */
div#contents .child{
  clear: both;
  overflow: hidden;

  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 18px 0;
  margin: 35px 0;
}
div#contents .child *{
  float: left;
  margin-right: 28px;
}
div#contents .child::before{
  content:"";
  background-image: url(http://www.gs.co.kr/sites/all/themes/GStheme/images/main_arrow_up.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 8px;
  display: inline-block;
  float: right;
  margin-left: 12px;
}
div#contents .child::after{
  content:"";
  background-image: url(http://www.gs.co.kr/sites/all/themes/GStheme/images/main_arrow_down.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 8px;
  display: inline-block;
  float: right;
}
div#contents .child h2{

  font-weight: bold;
  color: #099;
}
div#contents .child h3{

  font-weight: bold;
}
div#contents .child p{

}

/* 동반성장 */
div#contents .grow{
  float: left;
  width: 50%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px 0 20px 10px;
  overflow: hidden;
}
div#contents .grow::before{
  content:"";
  background-image: url(  http://www.gs.co.kr/sites/all/themes/GStheme/images/icon_contribution.png);
  width: 38px;
  height: 38px;
  display: inline-block;
  float: left;
}

div#contents .grow h2{

  font-weight: bold;
  margin-left: 50px;
  margin-top: 7px;
}
div#contents .grow p{

  font-size: 12px;
  margin-left: 50px;
  margin-top: 7px;
}

/* 윤리경영  */
div#contents .yun{
  float: left;
  width: 50%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px 0 20px 10px;
  margin-bottom: 41px;
}
div#contents .yun::before{
  content:"";
  background-image: url(http://www.gs.co.kr/sites/all/themes/GStheme/images/icon_ethics.png
  );
  width: 38px;
  height: 38px;
  display: inline-block;
  float: left;
}
div#contents .yun h2{

  font-weight: bold;
  margin-left: 50px;
  margin-top: 7px;
}

div#contents .yun p{

  font-size: 12px;
  margin-left: 50px;
  margin-top: 7px;
}
/*            ----하단 영역 ----               */
div#footer{
  background-color: #ececec;
  width: 100%;
  clear: both;
  position: relative;
  height: 150px;
}


div#footer ul{

  clear: both;
  margin-left: 300px;
}
div#footer ul li{

  float: left;
  /*! margin-left: 19px; */
  margin-top: 15px;
  font-weight: bold;
  border-right: 1px solid #ccc;
  padding: 0 24px 0 24px;
  margin-bottom: 20px;
}
div#footer ul li a{

  font-size: 14px;
  color: #373737;
}
div#footer select{

  float: right;
  margin-right: 350px;
  margin-top: 20px;
  padding: 10px 11px;
  background-color: transparent;
  border: none;
  border: 1px solid #ccc;
  width: 200px;
  color: #666666;
}
div#footer address{

  clear: both;
  margin-left: 315px;
  font-style: normal;
  line-height: 1.5;
  font-size: 12px;
  color: #666666;
}
div#footer p{

  margin-left: 315px;
  line-height: 1.5;
  font-size: 12px;
  color: #666666;
}
